.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsTtems {
  padding: 10px;
}

.dialogs .dialogsTtems .active {
  color: indigo;
}

.messages {
  padding: 10px;
}

.messages .message {
}

.dialogItemAvatar {
  width: 60px;
  border-radius: 30px;
}

.messagesItemStyle {
  padding-bottom: 20px;
}
